@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Team Draken AB<br />
    En Gata i skogen<br />
    <abbr title="Phone">P:</abbr>
    999.888.0100
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@teamdraken.se">Support@teamdraken.se</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@teamdraken.se">Marketing@teamdraken.se</a>
</address>